.zoom {
    animation: zoom-in-zoom-out 2s ease infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.15, 1.15);
    }
    100% {
      transform: scale(1, 1);
    }
  }